*{
    margin: 0;
    padding: 0;
    
}  
body{
    margin:0;
    min-height: 100vh;
    background-image: url(../img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    
}   
h1{
    color:green;
    text-align: center;
    position: relative;
    top: 25px;
    font-size: 40px;
}

.body{
 
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.contenedor{
    width: 40%;
    min-height:470px;
    border: 0px solid green;
    background-color: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
input[type="text"]{
    padding: .7em;
    margin: 5px;
    background-color: rgba(0,0,0,0);
    border:1px solid green;
    width: 250px;
    color: white;
    border-radius: 10px;
    outline: none;
    
    
}
.form{
    margin-top: 50px;
}

input[type="submit"]{
    padding: .7em;
    margin: 5px;
    width: 272px;
    border-radius: 10px;
    background-color: green;
    outline: none;
    font-size: 18px;
    color: white;
    border: 0px solid white;
    
    
}
.volver{
    display: flex;
    justify-content:flex-end;

}
.volver a{
    color: green;
    text-decoration: none;
    margin: 7px;
}